@import "../../assets/sass/veriables.scss";
@import "../../assets/sass/media.scss";

.todo-list-item {
  height: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  overflow: hidden;
  border-radius: 5px;
  color: $card-text-color;
  background-color: $black-color;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @include mobile {
    height: 35px;
  }
  span {
    padding: 10px;
    width: calc(100% - 40px);
    font-weight: 300;
    letter-spacing: 0.8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    @include mobile {
      font-size: 0.8rem;
    }
    &.done {
      text-decoration: line-through;
    }
  }
  button {
    width: 40px;
    height: 40px;
    background-color: $red-color;
    border: none;
    outline: none;
    cursor: pointer;
    @include mobile {
      height: 35px;
      width: 35px;
    }
    img {
      height: 40%;
      width: 40%;
    }
  }
  .button-enter {
    transform: translateX(100%);
  }
  .button-enter-active {
    transform: translateX(0);
    transition: transform 0.3s;
  }
  .button-exit {
    transform: translateX(0);
  }
  .button-exit-active {
    transform: translateX(100%);
    transition: transform 0.3s;
  }
}
