@import "../../assets/sass/media.scss";

@mixin input-design {
  padding: 0 10px;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid $border-input-text-color;
  outline: none;
  @include mobile {
    height: 35px;
    font-size: 0.8rem;
  }
  &::placeholder {
    color: $black-color;
    font-size: 0.9rem;
    font-weight: 300;
    @include mobile {
      font-size: 0.8rem;
    }
  }
  &:focus {
    border: 2px solid $black-color;
  }
}
