$white-color: #fbfbfb;
$black-color: #040403;
$red-color: #ff0022;
$border-input-text-color: #e0e0e0;
$card-text-color: #fbfbfb;
$modal-gray-text-color: #f6f6f6;
$editing-btn-color: #818181;

$transition-time: 0.3s;
